
body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    text-indent: 2px;
    text-emphasis-color: white;
    text-decoration: lightgoldenrodyellow;
    text-align: center;
    background-color: rgb(228, 170, 178);
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    
    
}
#course-table
{
    color: white;
    background-color: black;   
    
     
    

    
}

#logo-image
{
    height: 200px;
    width: 1500;

    border-radius: 20px;
    border-style: solid;
    border-block-color: Black;
}